@import 'themes';

.FilterBar {
  width: 100%;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  padding-top: 30px;
  align-items: stretch;
  text-align: left;
  border-right: 1px solid $lightgrey;
  grid-row-gap: 30px;

  legend {
    font-weight: bolder;
  }
  input {
    margin: 0.5rem;
  }

}

.selector {

  display: grid;
  -ms-grid-template-columns: auto;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: $extralightgrey;
  // border-radius: 5px;
  padding: 20px;
 


}
