  fieldset {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
  
    label {
      text-align: left;
      display: block;
  
    }
  
  
    input, textarea, select, option {
      margin: 0.5rem;
      display: block;
    
    }
    textarea {
      width: 100%;
    }
  }