.h1 {
  color: #151515;
  // position: relative;
  margin: 0;
 
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  font-size: 1.5rem;
  margin-right: auto;
  
}

.Header {
  
  box-shadow: 0px 1px 10px 0px rgba(105,105,105,1);
  background: linear-gradient(#ff091d, #e60013);
  font-weight: bolder;
  top: 0;
  left: 0;
  position: relative;
  
  z-index: 3;
  -ms-grid-area: header;
  grid-area: header;

}

.header_wrapper {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
}
