
$white:#fcfcfc;
$extralightgrey: #f3f3f3;
$lightgrey: #dcdcdc;
$midlightgrey: #c0c0c0;
$midgrey: #909090;
$middarkgrey: #606060;
$darkgrey: #484848;
$black: #080808;

$focusBlue: #5E9ED6;
$oldlinkBlue: #0591BC;

$linkBlue: #006bd5;
$linkBlueFocus: #0154a7;
$linkBlueClick: #004080;

$deleteRed: #c90e1e;